@import "https://fonts.googleapis.com/css?family=Permanent+Marker|Ubuntu+Mono|Titillium+Web:400,700";
.ngdialog.ngdialog-theme-own {
  padding-bottom: 10vh;
  padding-top: 10vh; }

.ngdialog.ngdialog-theme-own .ngdialog-content {
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 450px;
  background-color: white;
  border: 2px solid #312C25;
  font-family: 'Titillium Web', sans-serif;
  color: #312C25;
  height: 100%; }

.ngdialog.ngdialog-theme-own .ngdialog-content h1,
.ngdialog.ngdialog-theme-own .ngdialog-content h2,
.ngdialog.ngdialog-theme-own .ngdialog-content h3,
.ngdialog.ngdialog-theme-own .ngdialog-content h4,
.ngdialog.ngdialog-theme-own .ngdialog-content h5,
.ngdialog.ngdialog-theme-own .ngdialog-content h6,
.ngdialog.ngdialog-theme-own .ngdialog-content p,
.ngdialog.ngdialog-theme-own .ngdialog-content ul,
.ngdialog.ngdialog-theme-own .ngdialog-content li {
  color: inherit; }

.ngdialog.ngdialog-theme-own .ngdialog-close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0; }

.ngdialog.ngdialog-theme-own .ngdialog-close:before {
  background: transparent;
  color: #312C25;
  content: "\00D7";
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px; }

.ngdialog.ngdialog-theme-own .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-own .ngdialog-close:active:before {
  color: #DC5B21; }

.ngdialog.ngdialog-theme-own .ngdialog-message {
  margin-bottom: .5em; }

.ngdialog.ngdialog-theme-own .ngdialog-input {
  margin-bottom: 1em; }

.ngdialog.ngdialog-theme-own .ngdialog-input textarea,
.ngdialog.ngdialog-theme-own .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-own .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-own .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-own .ngdialog-input input[type="url"] {
  background: #f0f0f0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%; }

.ngdialog.ngdialog-theme-own .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-own .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-own .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-own .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-own .ngdialog-input input[type="url"]:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
  outline: none; }

.ngdialog.ngdialog-theme-own .ngdialog-buttons:after {
  clear: both;
  content: '';
  display: table; }

.ngdialog.ngdialog-theme-own .ngdialog-button {
  border: 0;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase; }

.ngdialog.ngdialog-theme-own .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none; }

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-own .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none; } }
.ngdialog.ngdialog-theme-own .ngdialog-button.ngdialog-button-primary {
  background: #312C25;
  color: #DC5B21; }
  .ngdialog.ngdialog-theme-own .ngdialog-button.ngdialog-button-primary:hover {
    color: #F6F2D9; }

.ngdialog.ngdialog-theme-own .ngdialog-button.ngdialog-button-secondary {
  background: #F6F2D9;
  color: #312C25;
  border: 1px solid #E1D8BD; }
  .ngdialog.ngdialog-theme-own .ngdialog-button.ngdialog-button-secondary:hover {
    color: #AD6F6D;
    border: 1px solid #312C25; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

html, body {
  min-height: 100% !important;
  height: 100%;
  width: 100%;
  color: #312C25;
  font-family: 'Titillium Web', sans-serif;
  margin: 0px;
  padding: 0px;
  font-weight: 400; }

a {
  color: #DC5B21;
  font-weight: 700; }
  a:visited, a:active {
    color: #DC5B21; }
  a:hover {
    color: #AD6F6D; }

.clickable {
  cursor: pointer; }

.section-content {
  border: 1px solid #dddddd;
  border-top: 0;
  padding: 15px;
  border-radius: 0 0 4px 4px; }

.centertext {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }
  .centertext .middled {
    width: 100%;
    text-align: center; }

li.pull-right a {
  margin-right: 0px; }

input[type="number"].arrowless {
  -moz-appearance: textfield; }
  input[type="number"].arrowless::-webkit-outer-conspin-button, input[type="number"].arrowless::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
input[type="number"].mini-num {
  width: 44px !important; }
input[type="number"].medi-num {
  width: 57px !important; }

.nav-tabs li {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  cursor: pointer; }

.help-block {
  text-align: center; }

body:before {
  content: "";
  display: block;
  height: 25px;
  background: #312C25;
  position: fixed;
  width: 200%;
  z-index: 500; }
body #content {
  padding-top: 50px;
  padding-bottom: 42px;
  min-width: 1140px;
  height: 100%; }

#configmanager .tab-content {
  font-size: 13px;
  height: 98px; }
  #configmanager .tab-content input {
    font-size: 13px; }
  #configmanager .tab-content .input-group-addon {
    font-size: 13px; }
#configmanager .defnums input {
  width: 57px; }
#configmanager .defnums label {
  margin-left: 10px; }
  #configmanager .defnums label:first-of-type {
    margin-left: 0px; }
#configmanager .maxnum input {
  width: 70px; }
#configmanager #actions {
  vertical-align: top; }
#configmanager #project-user-tab {
  font-size: 105%; }
  #configmanager #project-user-tab > div, #configmanager #project-user-tab > div > div {
    height: 100%; }
  #configmanager #project-user-tab label {
    margin-right: 15px; }
  #configmanager #project-user-tab .middled {
    border-right: 1px solid #dddddd;
    margin-left: 5px;
    margin-right: 5px; }
    #configmanager #project-user-tab .middled:last-of-type {
      width: 110%;
      margin-right: 0px;
      border-right: 0px;
      width: 140%; }
    #configmanager #project-user-tab .middled:first-of-type {
      width: 140%; }
#configmanager #project-id-tab label {
  margin-right: 15px; }
#configmanager #project-id-tab .middled:nth-child(2) {
  width: 20%; }
#configmanager #project-config-tab .picker {
  border-right: 1px solid #dddddd;
  margin-left: 5px;
  margin-right: 5px; }
  #configmanager #project-config-tab .picker:last-of-type {
    width: 110%;
    margin-right: 0px; }
  #configmanager #project-config-tab .picker:first-of-type {
    width: 90%; }
#configmanager #project-color-tab .shape-picker {
  border-right: 1px solid #dddddd; }
  #configmanager #project-color-tab .shape-picker:last-of-type {
    border-right: 0px; }
#configmanager #project-color-tab .title {
  font-weight: bold;
  text-align: center;
  font-size: 110%;
  width: 170%; }
#configmanager #project-color-tab .picks-ids {
  text-align: left; }

#mainaction {
  margin-top: 20px; }
  #mainaction .tab-content {
    height: 580px; }
  #mainaction #editor .ctrl-buttons {
    text-align: center; }
  #mainaction #editor #currentobject {
    height: 250px; }
  #mainaction #editor #motifselect {
    height: 170px;
    margin-top: 15px; }
  #mainaction #editor .objectdisplay {
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 5%;
    padding: 10px;
    font-family: 'Ubuntu Mono';
    font-size: 13px; }
  #mainaction #editor #currentmanager input {
    width: 75px;
    font-size: 13px;
    font-family: 'Ubuntu Mono'; }
  #mainaction #editor #currentmanager label {
    margin-left: 10px; }
    #mainaction #editor #currentmanager label:first-of-type {
      margin-left: 0px; }
  #mainaction #editor #currentmanager hr {
    margin-top: 15px;
    margin-bottom: 15px; }
  #mainaction #editor #currentmanager .input-group-addon {
    font-family: 'Ubuntu Mono';
    font-size: 13px;
    width: 35px !important; }
  #mainaction #editor #currentmanager .edgepick {
    text-align: center; }
    #mainaction #editor #currentmanager .edgepick input {
      margin-top: 2px; }
  #mainaction #code-tab {
    height: 100%; }
    #mainaction #code-tab div {
      height: 100%; }
    #mainaction #code-tab pre {
      height: 100%;
      overflow: scroll; }
  #mainaction #noId-tab {
    font-family: 'Ubuntu Mono';
    height: 100%; }
    #mainaction #noId-tab div {
      height: 100%; }

#motif-load-tab {
  height: 100%; }
  #motif-load-tab div {
    height: 94%; }
  #motif-load-tab .btn-col {
    text-align: center; }
  #motif-load-tab #motifview [class*="col-"] {
    height: 300px; }
  #motif-load-tab #motifview .canvaswrap {
    margin-top: 5px; }
  #motif-load-tab #loop-select {
    margin-top: 15px;
    overflow-y: scroll; }
    #motif-load-tab #loop-select.leftfix {
      margin-left: 0%;
      width: 100%; }
    #motif-load-tab #loop-select .segment-info {
      height: auto;
      border-top: 1px dotted #312C25;
      margin-bottom: 10px;
      padding-top: 10px; }
      #motif-load-tab #loop-select .segment-info:first-of-type {
        border-top: 0px;
        padding-top: 0px; }
      #motif-load-tab #loop-select .segment-info input[type="number"]::-webkit-outer-conspin-button,
      #motif-load-tab #loop-select .segment-info input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      #motif-load-tab #loop-select .segment-info input[type="number"] {
        -moz-appearance: textfield;
        width: 50px; }
      #motif-load-tab #loop-select .segment-info input[type="text"].minitext {
        width: 40px; }
      #motif-load-tab #loop-select .segment-info input[type="text"].midtext {
        width: 100px; }
      #motif-load-tab #loop-select .segment-info label:last-of-type {
        margin-left: 10px; }
        #motif-load-tab #loop-select .segment-info label:last-of-type:hover {
          cursor: pointer; }
  #motif-load-tab .is-table-row {
    margin-top: 15px;
    display: table;
    width: 100%; }
    #motif-load-tab .is-table-row div.btn-group {
      height: auto; }
  #motif-load-tab .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top; }

/*# sourceMappingURL=app.css.map */
