@import "definitions";
@import "ngdialog";
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker|Ubuntu+Mono|Titillium+Web:400,700';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
 }

html, body {
    min-height : 100% !important;
    height     : 100%;
    width      : 100%;
    color      : $dark-text;
    font-family: 'Titillium Web', sans-serif;
    margin     : 0px;
    padding    : 0px; 
    font-weight: 400;
}

a {
    color      : $link-color;
    font-weight: 700;
    &:visited, &:active {
        color: $link-color;
    }
    &:hover {
        color: $link-dark-hover-color;
    }
}
.clickable {
    cursor: pointer;
}

.section-content {
    border: 1px solid #dddddd;
    border-top: 0;
    padding: 15px;
    border-radius: 0 0 4px 4px;
}

.centertext {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    .middled {
        width: 100%;
        text-align: center;
    }
}
li.pull-right {
    a {
        margin-right: 0px;
    }
}

input[type="number"] {
    &.arrowless {
        &::-webkit-outer-conspin-button,
        &::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
        -moz-appearance: textfield;
    }
    &.mini-num {
        width: 44px !important;
    }
    &.medi-num {
        width: 57px !important;
    }
}
.nav-tabs li {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */    
    cursor: pointer;  
}
.help-block {
    text-align: center;
}

body {
    &:before {
        content   :  "";
        display   : block;
        height    : $top-border;
        background: $dark-color;
        position  : fixed;
        width     : 200%;
        z-index   : 500;
    }
    #content {
        padding-top   : $top-border * 2;
        padding-bottom: $footer-height;
        min-width     : 1140px;
        height        : 100%;
    }
}

#configmanager {
    // input[type="number"]::-webkit-outer-conspin-button,
    // input[type="number"]::-webkit-inner-spin-button {
    //     -webkit-appearance: none;
    //     margin: 0;
    // }
    // input[type="number"] {
    //     -moz-appearance: textfield;
    // }
    .tab-content {
        font-size: 13px;
        height: 98px;
        input {
            font-size: 13px;
        }
        .input-group-addon {
            font-size: 13px;
            // padding: 6px;
        }
    }
    .defnums {
        input {
            width: 57px;
        }
        label {
            margin-left: 10px;
            &:first-of-type {
                margin-left: 0px;
            }
        }
    }
    .maxnum {
        input {
            width: 70px;
        }
    }
    #actions {
        vertical-align: top;
    }
    #project-user-tab {
        font-size: 105%;
        & > div, & > div > div {
            height: 100%;
        }
        label {
            margin-right: 15px;
        }
        .middled {
            border-right: 1px solid #dddddd;
            margin-left: 5px;
            margin-right: 5px;
            &:last-of-type {
                width: 110%;
                margin-right: 0px;
                border-right: 0px;
                width: 140%;
            }
            &:first-of-type {
                width: 140%;
            }
        }
    }
    #project-id-tab {
        label {
            margin-right: 15px;
        }
        .middled:nth-child(2) {
            width: 20%;
        }
    }
    #project-config-tab {
        .picker {
            border-right: 1px solid #dddddd;
            margin-left: 5px;
            margin-right: 5px;
            &:last-of-type {
                width: 110%;
                margin-right: 0px;
            }
            &:first-of-type {
                width: 90%;
            }
        }
    }
    #project-color-tab {
        .shape-picker {
            border-right: 1px solid #dddddd;
            &:last-of-type {
                border-right: 0px;
            }
        }
        .title {
            font-weight: bold;
            text-align: center;
            font-size: 110%;
            width: 170%;
        }
        .picks-ids {
            text-align: left;
        }
    }
}

#mainaction {
    margin-top: 20px;

    .tab-content {
        height: 580px;
    }

    #editor {
        .ctrl-buttons {
            text-align: center;
        }
        #currentobject{
            height: 250px;
        }
        #motifselect {
            height: 170px;
            margin-top: 15px;
        }
        .objectdisplay {
            border: 1px solid #dddddd;
            border-radius: 4px;
            width: 90%;
            margin-top: 5px;
            margin-bottom: 15px;
            margin-left: 5%;
            padding: 10px;
            font-family: 'Ubuntu Mono';
            font-size: 13px;
        }
        #currentmanager {
            input {
                width: 75px;
                font-size: 13px;
                font-family: 'Ubuntu Mono';
            }
            label {
                margin-left: 10px;
                &:first-of-type {
                    margin-left: 0px;
                }
            }
            hr {
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .input-group-addon {
                font-family: 'Ubuntu Mono';
                font-size: 13px;
                width: 35px !important;
            }
            .edgepick {
                text-align: center;
                input {
                    margin-top: 2px;
                }
            }
        }
    }
    #code-tab {
        height: 100%;
        div {
            height: 100%;
        }
        pre {
            height: 100%;
            overflow: scroll;
        }
    }
    #noId-tab {
        font-family: 'Ubuntu Mono';
        height: 100%;
        div {
            height: 100%;
        }
    }
}
#motif-load-tab {
    height: 100%;
    div {
        height: 94%;
    }
    .btn-col {
        text-align: center;
    }
    #motifview{
        [class*="col-"] {
            height: 300px;
        }
        .canvaswrap {
            margin-top: 5px;
        }
    }
    #loop-select {
        margin-top: 15px;
        overflow-y: scroll;
        &.leftfix {
            margin-left: 0%;
            width: 100%;
        }
        .segment-info {
            height: auto;
            border-top: 1px dotted $dark-color;
            margin-bottom: 10px;
            padding-top: 10px;
            &:first-of-type {
                border-top: 0px;
                padding-top: 0px;
            }
            input[type="number"]::-webkit-outer-conspin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            input[type="number"] {
                -moz-appearance: textfield;
                width: 50px;
            }
            input[type="text"] {
                &.minitext {
                    width: 40px;
                }
                &.midtext {
                    width: 100px;
                }
            }
            label {
                &:last-of-type {
                    margin-left: 10px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .is-table-row {
        margin-top: 15px;
        display: table;
        width: 100%;
        div.btn-group {
            height: auto;
        }
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}