$dark-color            : #312C25;
$dark-text             : #312C25;
$clear-text            : #E1D8BD;
$link-color            : #DC5B21;
$link-light-hover-color: #F6F2D9;
$link-dark-hover-color : #AD6F6D;
$link-active-color     : #95907F;
$clear-color           : #E1D8BD;

$scholar-color     : #4D8DF1;
$researchgate-color: #92CF44;
$orcid-color       : #A7CC45;
$researcherid-color: #FD8023;
$linkedin-color    : #2789BB;
$github-color      : #5A8BC9;
$twitter-color     : #59ADEC;
$gmail-color       : #D34937;
$dropbox-color     : #FC0C1B;

$top-border    : 25px;
$top-width     : 1200px;
$min-width     : 600px;
$width-perc    : 80%;
$footer-height : 42px;