<div id="currentmanager">
    <span class="help-block">
    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            <i class="fa fa-eye" aria-hidden="true"
                uib-tooltip="Changes Shown in the Edit Area"
                tooltip-placement="top"
                tooltip-append-to-body="true"></i>
        </div>
        <div class="col-md-6" style="text-align: center;">
            <i class="fa fa-eye-slash" aria-hidden="true"
                uib-tooltip="Changes NOT Shown in the Edit Area"
                tooltip-placement="top"
                tooltip-append-to-body="true"></i>
        </div>
    </div>
    </span>
    <form class="form-inline">
        <div class="form-group">
            <label>Move X: </label>
            <div class="input-group">
                <input class="form-control" type="number" ng-model="current.tpb.shift.x" step="0.5" ng-change="changedValue()" ng-model-options="{ debounce: 500 }">
                <div class="input-group-addon">&#8491;</div>
            </div>
            <label>Tilt X: </label>
            <div class="input-group"> 
                <input class="form-control" type="number" ng-model="current.tpb.tilt.x" step="30" ng-change="chagedAngle()" ng-model-options="{ debounce: 500 }">
                <div class="input-group-addon">&deg;</div>
            </div>
        </div>
    </form>
    <form class="form-inline">
        <div class="form-group">
            <label>Move Z: </label>
            <div class="input-group">
                <input class="form-control" type="number" ng-model="current.tpb.shift.z"  step="0.5" ng-change="changedValue()" ng-model-options="{ debounce: 500 }">
                <div class="input-group-addon">&#8491;</div>
            </div>
            <label>Tilt Z: </label>
            <div class="input-group">
                <input class="form-control" type="number" ng-model="current.tpb.tilt.z" step="30" ng-change="chagedAngle()" ng-model-options="{ debounce: 500 }">
                <div class="input-group-addon">&deg;</div>
            </div>
        </div>
    </form>
    <form class="form-inline">
        <div class="form-group">
            <label>Tilt Y: </label>
            <div class="input-group">
                <input class="form-control" type="number" ng-model="current.tpb.tilt.y" step="30" ng-change="changedValue();chagedAngle()" ng-model-options="{ debounce: 500 }">
                <div class="input-group-addon">&deg;</div>
            </div>
            <label>Move Y: </label>
            <div class="input-group">
                <input class="form-control" type="number" ng-model="current.tpb.shift.y" step="0.5">
                <div class="input-group-addon">&#8491;</div>
            </div>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="col-md-5">
        <form class="form-inline mininum">
            <div class="form-group">
                <label>Length: </label>
                <div class="input-group">
                    <input class="form-control" type="number" min="1" ng-model="current.tpb.length" step="1" ng-change="changedLength()" ng-model-options="{ debounce: 500 }">
                </div>
            </div>
            <span class="help-block">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                In residues.
            </span>
        </form>
        </div>
        <div class="col-md-7">
            <p class="edgepick">
                <i class="fa fa-question-circle" aria-hidden="true"
                    uib-tooltip="When connecting all the SSE, can it be the first/last SSE of the protein?"
                    tooltip-placement="top"
                    tooltip-append-to-body="true"></i>
                Should it be edge?<br>
                <label class="radio-inline">
                    <input type="radio" ng-model="current.tpb.edge" value="1"> YES
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="current.tpb.edge" value="0"> FREE
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="current.tpb.edge" value="-1"> NO
                </label>
            </p>
        </div>
    </div>
</div>