<div id="editorcontrol" class="row">
    <div class="col-md-11 col-md-offset-1 ctrl-buttons">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="addMode('helix')">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add Helix
            </button>
            <button type="button" class="btn btn-default" ng-click="addMode('beta')">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add Beta
            </button>
            <button type="button" class="btn btn-default" ng-click="viewMotifLoader=true">
                <i class="fa fa-bullseye" aria-hidden="true"></i>
                Load New Motif
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-11 col-md-offset-1">
     <div id="motifselect" class="objectdisplay" ng-class="{centertext:motifs.desc.length == 0}">
        <div class="middled" ng-show="motifs.desc.length == 0">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            THERE ARE NO LOADED MOTIFS
        </div>
        <div ng-show="motifs.desc.length != 0">
            <div class="canvascontainer" ng-show="motifs.desc.length > 0" ng-click="motif2Canvas(0)" style="float: left;">
                <canvas id="mc0" width="148" height="148" style="border: 1px solid #3f3f3f"></canvas>
            </div>
            <div class="canvascontainer" ng-show="motifs.desc.length > 1" ng-click="motif2Canvas(1)" style="float: left;">
                <canvas id="mc1" width="148" height="148" style="border: 1px solid #3f3f3f"></canvas>
            </div>
            <div class="canvascontainer" ng-show="motifs.desc.length > 2" ng-click="motif2Canvas(2)" style="float: left;">
                <canvas id="mc2" width="148" height="148" style="border: 1px solid #3f3f3f"></canvas>
            </div>
            <!-- <div ng-repeat="m in motifs.desc track by $index" style="float: left;">
                <canvas id="{{m.id}}" width="148" height="148" style="border: 1px solid #3f3f3f" ng-init="$last && finished=true"></canvas>
            </div>-->
            <!-- <div ng-if="motifs.desc.length != 0" ng-init="loadMiniCanvases()" ng-show="false"></div> -->
        </div>
     </div>
    </div>
</div>
<div class="row">
    <div class="col-md-11 col-md-offset-1">
     <div id="currentobject" class="objectdisplay" ng-class="{centertext:active == null}">
        <p ng-show="active == null">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            THERE ARE NO SELECTED SSE
        </p>
        <p ng-show="active != null">
            <jb-current-manager current="active" canvas="canvas"></jb-current-manager>
        </p>
     </div>
    </div>
</div>
<div class="row">
    <div class="col-md-11 col-md-offset-1 ctrl-buttons">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="centerCanvasContent()">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Center Form
            </button>
            <button type="button" class="btn btn-default" ng-click="getSVG()">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                Export SVG
            </button>
            <button type="button" class="btn btn-default" ng-click="getPNG()">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                Export PNG
            </button>
        </div>
    </div>
</div>
