<div id="motif-load-tab" ng-controller="MotifCtrl">
<div class="row">
    <div class="col-md-8 btn-col">
        <div class="btn-group" role="group">
            <label class="btn btn-default btn-file">
                <input type="file" style="display: none;" data-bind-file="" data-ng-model="motiffile">
                <i class="fa fa-file" aria-hidden="true"></i>
                Load Your .pdb File
            </label>
            <button type="button" class="btn btn-default" ng-click="addSegmentField()" ng-disabled="fileEmpty()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add Segment
            </button>
        </div>
    </div>
    <div class="col-md-4 btn-col">
        <form class="form-inline">
            <label>Motif ID: </label>
            <div class="input-group">
                <input class="form-control" type="text" ng-model="newmotif.id">
            </div>
        </form>
    </div>
</div>
<div id="motifview" class="row">
    <div class="col-md-8">
        <div id="loop-select" class="objectdisplay leftfix">
            <div ng-repeat="segment in newmotif.segments" class="segment-info" style="text-align: center;">
                <form class="form-inline">
                    <label>Segment ID: </label>
                    <input class="form-control midtext" type="text" ng-model="segment.id">
                    <label>Chain: </label>
                    <input class="form-control minitext" type="text" ng-model="segment.chain">
                    <label>Start: </label>
                    <input class="form-control" type="number" ng-model="segment.ini">
                    <label>End: </label>
                    <input class="form-control" type="number" ng-model="segment.end">
                    <label> Type: </label>
                    <select class="form-control" ng-model="segment.type">
                      <option>H</option>
                      <option>E</option>
                      <option>X</option>
                    </select>
                    <label>Split: </label>
                    <input class="form-control" type="number" ng-model="segment.split">
                    <label><i class="fa fa-trash" aria-hidden="true"></i></label>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="text-align: center;">
        <div class="canvaswrap">
            <canvas id="minigridcanvas" width="280" height="280" style="border: 1px solid #3f3f3f"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 btn-col">
        <button type="button" class="btn btn-default" ng-click="processMotif()" ng-disabled="!completeMotif()">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            Process Motif
        </button>
    </div>
    <div class="col-md-4 btn-col">
        <div class="btn-group " role="group">
            <button type="button" class="btn btn-default" ng-click="addMotif();quit()" ng-disabled="!completeMotif()">
                <i class="fa fa-check" aria-hidden="true"></i>
                Load Motif
            </button>
            <button type="button" class="btn btn-default" ng-click="cancelMotif();quit()">
                <i class="fa fa-ban" aria-hidden="true"></i>
                Cancel
            </button>
        </div>
    </div>
</div>
</div>