<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Forms</title>
  <meta name="pinterest" content="nopin" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style type="text/css">
  </style>
</head>
<body ng-app>
<div class="container-fluid">
  <div class="row" style="z-index: 1000; background-color: white; text-align: center; padding-top: 15px; padding-bottom: 15px; position: fixed; top: 0; left: 0; width: 100%;">
    <div class="btn-group" role="group">
      <button type="button" class="btn" ng-init="isEdges = false" ng-class="isEdges ? 'btn-danger' : 'btn-primary'" ng-click="isEdges=!isEdges">Edges</button>
      <button type="button" class="btn" ng-init="isDir = false" ng-class="isDir ? 'btn-danger' : 'btn-primary'" ng-click="isDir=!isDir">Directions</button>
      <button type="button" class="btn" ng-init="isInt = false" ng-class="isInt ? 'btn-danger' : 'btn-primary'" ng-click="isInt=!isInt">Intersections</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="isEdges=true; isDir=true; isInt=true">Filter All</button>
      <button type="button" class="btn btn-default" ng-click="isEdges=false; isDir=false; isInt=false">Show All</button>
    </div>
  </div>
  <div class="row" style="text-align: center; margin-top: 64px; padding-top: 15px; padding-bottom: 15px; width: 100%;">
    <div id=viewer></div>
  </div>
  <div class="row" style="text-align: center; margin-bottom: 15px;">
