<div id="configmanager" ng-controller="ConfigCtrl as cf">
    <ul id="project-config-select" class="nav nav-tabs section-header" >
        <li ng-class="{'active': cf.evalTab(3), 'disabled': cf.noProjectID()}">
            <a ng-click="cf.setTab(3)">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
        </li>
        <li ng-class="{'active': cf.evalTab(0), 'disabled': cf.noProjectID()}">
            <a ng-click="cf.setTab(0)">
                <i class="fa fa-cog" aria-hidden="true"></i>
                Project Configuration
            </a>
        </li>
        <li ng-class="{'active': cf.evalTab(1), 'disabled': cf.noProjectID()}">
            <a ng-click="cf.setTab(1)">
                <i class="fa fa-cog" aria-hidden="true"></i>
                Interface Configuration
            </a>
        </li>
        <li ng-class="{'active': cf.evalTab(2), 'disabled': cf.noProjectID()}" class="pull-right">
            <a ng-click="cf.setTab(2)">
                <i class="fa fa-globe" aria-hidden="true" ng-show="!cf.isLocalhost()"></i>
                <i class="fa fa-home" aria-hidden="true" ng-show="cf.isLocalhost()"></i>
            </a>
        </li>
    </ul>
    <div id="project-id-tab" class="tab-content section-content" ng-show="cf.noProjectID()">
        <div class="row">
            <div class="col-md-12 centertext">
                <form class="form-inline middled">
                    <i class="fa fa-play" aria-hidden="true"></i>
                    <label>Add a Project Name to Start:</label>
                    <input class="form-control" type="text" maxlength="30"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-model="config.name" ng-change="cf.startProject()"
                           react-on-enter="" focus-me="cf.noProjectID()" lowercased folder-secure-text />
                    <p class="help-block">
                        Allowed Characters: _[a-z][0-9] (max. 30 char)
                    </p>
                </form>
                <div class="middled">
                    <i class="fa fa-arrows-h" aria-hidden="true"></i><br>OR
                </div>
                <div class="middled">
                    <label class="btn btn-default btn-file">
                        <input type="file" style="display: none;" data-bind-file="" data-ng-model="cf.infile" ng-change="cf.loadJob()">
                        <i class="fa fa-file" aria-hidden="true"></i>
                        Load Your .json Project
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div id="project-user-tab" class="tab-content section-content" ng-show="cf.evalTab(3)">
        <div class="row">
            <div class="col-md-12 centertext">
                <div class="middled">
                    <label>Job Name: </label>{{config.name}}
                </div>
                <div class="middled">
                    <label>PIN: </label>{{config.pin.join('')}}
                </div>
                <div class="middled">
                    <label>Creation Date:</label>{{config.date.join('/')}}
                </div>
            </div>
        </div>
    </div>
    <div id="project-config-tab" class="tab-content section-content" ng-show="cf.evalTab(0)">
        <div class="row">
            <div class="col-md-10 centertext">
                <div class="middled picker">
                    <form class="form-inline">
                        <label>&alpha; Length: </label>
                        <div class="input-group">
                            <input class="form-control arrowless medi-num" type="number" ng-model="config.hLength">
                            <div class="input-group-addon">Aa</div>
                        </div>
                    </form>
                    <form class="form-inline">
                        <label>&beta; Length: </label>
                        <div class="input-group">
                            <input class="form-control arrowless medi-num" type="number" ng-model="config.eLength">
                            <div class="input-group-addon">Aa</div>
                        </div>
                    </form>
                </div>
                <div class="middled picker">
                    <form class="form-inline">
                        <label>&alpha;&alpha; Distance: </label>
                        <div class="input-group">
                            <input class="form-control arrowless medi-num" type="number" ng-model="config.hhDist" ng-change="updateLink()">
                            <div class="input-group-addon">&#8491;</div>
                        </div>
                    </form>
                    <form class="form-inline">
                        <label>&alpha;&beta; Distance: </label>
                        <div class="input-group">
                            <input class="form-control arrowless medi-num" type="number" ng-model="config.heDist">
                            <div class="input-group-addon">&#8491;</div>
                        </div>
                    </form>
                </div>
                <div class="middled picker">
                    <form class="form-inline">
                        <label>&beta;&beta; Pr Distance: </label>
                        <div class="input-group">
                            <input class="form-control arrowless medi-num" type="number" ng-model="config.epDist">
                            <div class="input-group-addon">&#8491;</div>
                        </div>
                    </form>
                    <form class="form-inline">
                        <label>&beta;&beta; Tp Distance:</label>
                        <div class="input-group">
                            <input class="form-control arrowless medi-num" type="number" ng-model="config.etDist">
                            <div class="input-group-addon">&#8491;</div>
                        </div>
                    </form>
                </div>
                <div class="middled picker">
                    <form class="form-inline">
                        <label>Max Linkage Distance: </label>
                        <div class="input-group">
                            <input class="form-control arrowless medi-num" type="number" ng-model="config.maxlink">
                            <div class="input-group-addon">&#8491;</div>
                        </div>
                    </form>
                    <form class="form-inline middled" style="height: 34px; padding-top: 7px;">
                        <div class="checkbox" style="text-align: left;">
                            <label>
                                <input type="checkbox" ng-model="config.keeplinkratio"> Keep ratio with &alpha;&alpha; distance.
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
                <div id="actions" class="btn-group pull-right" role="group">
                    <button
                        type="button"
                        class="btn btn-default"
                        uib-tooltip="Reset Configuration"
                        tooltip-placement="bottom"
                        tooltip-append-to-body="true"
                        ng-click="cf.resetConfig()"
                        ng-disabled="cf.stillDefault()">
                        <i class="fa fa-recycle" aria-hidden="true"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn-default"
                        uib-tooltip="Load Previous Project"
                        tooltip-placement="bottom"
                        tooltip-append-to-body="true"
                        ng-click="cf.fetchJob()">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn-default"
                        uib-tooltip="Save Project"
                        tooltip-placement="bottom"
                        tooltip-append-to-body="true"
                        ng-click="cf.saveJob()">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="project-color-tab" class="tab-content section-content" ng-show="cf.evalTab(1)">
        <div class="row">
            <div class="col-md-3 centertext shape-picker" ng-repeat="ss in ['helix', 'beta', 'cross', 'motif']">
                <div class="title middled">{{ss.charAt(0).toUpperCase() + ss.slice(1)}}</div>
                <div class="middled picks-ids">
                    <label>Stroke</label><br>
                    <label>Fill</label><br>
                    <label>Width</label>
                </div>
                <div class="middled picks-ids">
                    <input type="color" ng-model="config.interface[ss].strokeColor"><br>
                    <input type="color" ng-model="config.interface[ss].fillColor"><br>
                    <input class="arrowless mini-num " type="number" ng-model="config.interface[ss].strokeWidth">
                </div>
            </div>
        </div>
    </div>
    <div id="project-host-tab" class="tab-content section-content" ng-show="cf.evalTab(2)">
        <div class="row">
            <div class="col-md-5 centertext">
                <form class="form-inline middled">
                        <i class="fa fa-globe" aria-hidden="true" ng-show="!cf.isLocalhost()"></i>
                        <i class="fa fa-home" aria-hidden="true" ng-show="cf.isLocalhost()"></i>
                        <label>Host:</label>
                        <input class="form-control" type="text" ng-model="config.interface.host" lowercased host-secure-text />
                        <p class="help-block">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Do not change if not sure.
                        </p>
                    </form>
                </div>
            <div class="col-md-5 centertext">
                <form class="form-inline middled">
                    <i class="fa fa-plug" aria-hidden="true"></i>
                    <label>Port:</label>
                    <input class="form-control arrowless" type="number" ng-model="config.interface.port" />
                </form>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default pull-right" type="submit" ng-click="cf.testConnection()">
                    <i class="fa fa-thermometer-quarter" aria-hidden="true"></i>
                    Test
                </button>
            </div>
        </div>
    </div>
</div>