<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="app/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="app/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="app/vendor/ng-dialog/css/ngDialog.css">
        <link rel="stylesheet" type="text/css" href="app/vendor/ng-dialog/css/ngDialog-theme-default.css">
        <link rel="stylesheet" type="text/css" href="app/vendor/sweetalert/dist/sweetalert.css">
        <link rel="stylesheet" type="text/css" href="app/self/css/app.css">
    </head>
    <body ng-app="topobuilder" ng-cloak>
        <div id="content" class="container" ng-controller="MainCtrl">
            <div class="row">
                <jb-config-manager></jb-config-manager>
            </div>
            <div id="mainaction" class="row">
                <ul class="nav nav-tabs section-header" ng-init="tab='editor'">
                    <li ng-class="{'active': tab=='editor'}">
                        <a ng-click="tab='editor'">
                            <i class="fa fa-crop" aria-hidden="true"></i>
                            Form Editor
                        </a>
                    </li>
                    
                    <li ng-class="{'active': tab=='preview'}">
                        <a ng-click="tab='preview'">
                            <i class="fa fa-cube" aria-hidden="true"></i>
                            Sketch Preview
                        </a>
                    </li>
                    <li ng-class="{'active': tab=='connectivity'}">
                        <a ng-click="tab='connectivity'">
                            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                            Connectivity
                        </a>
                    </li>
                    <li ng-class="{'active': tab=='code'}" class="pull-right">
                        <a
                            ng-click="tab='code'"
                            uib-tooltip="View Topology Code Description"
                            tooltip-placement="left"
                            tooltip-append-to-body="true">
                            <i class="fa fa-terminal" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content section-content">
                    <div id="editor" ng-show="tab=='editor'" class="tab-pane" ng-class="{'active': !noProjectID()}">
                        <div class="row" ng-controller="EditorCtrl">
                            <div id="gridbox" class="col-md-7" ng-show="!viewMotifLoader">
                                <canvas id="gridcanvas" width="700" height="550" style="border: 1px solid #3f3f3f"></canvas>
                            </div>
                            <div id="gridbox" class="col-md-12" ng-show="viewMotifLoader">
                                <jb-motif-loader viewflag="viewMotifLoader"></jb-motif-loader>
                            </div>
                            <div class="col-md-5" ng-show="!viewMotifLoader">
                                <jb-editor-manager></jb-editor-manager>
                            </div>
                       </div>
                    </div>
                    <div ng-show="tab=='preview'" class="tab-pane" ng-class="{'active': !noProjectID()}">
                        <div class="row">
                            <div class="col-md-12">
                                here goes three
                            </div>
                        </div>
                    </div>
                    <div ng-show="tab=='connectivity'" class="tab-pane" ng-class="{'active': !noProjectID()}">
                        <div class="row">
                            <div class="col-md-8">
                                here goes one
                            </div>
                        </div>
                    </div>
                    <div id="code-tab" ng-show="tab=='code'" class="tab-pane" ng-class="{'active': !noProjectID()}">
                        <jb-coding-manager></jb-coding-manager>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="app/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="app/vendor/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="app/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="app/vendor/angular-file-saver/dist/angular-file-saver.bundle.min.js"></script>
        <script type="text/javascript" src="app/vendor/ng-dialog/js/ngDialog.js"></script>
        <script type="text/javascript" src="app/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" src="app/vendor/fabric/dist/fabric.min.js"></script>
        <script type="text/javascript" src="app/vendor/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="app/self/js/canvas.js"></script>
        <script type="text/javascript" src="app/self/js/support.js"></script>
        <script type="text/javascript" src="app/self/js/app.js"></script>
        <script type="text/javascript" src="app/self/js/directives.js"></script>
        <script type="text/javascript" src="app/self/js/configControler.js"></script>
        <script type="text/javascript" src="app/self/js/motifControler.js"></script>
        <script type="text/javascript" src="app/self/js/currentControler.js"></script>
    </body>
</html>